<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>CappyBlappyShop: Change password</title>
</head>
<body>
    <h2>Change your password</h2>
    <form method="post" action="{% url 'update_password_perform'%}">
        {% csrf_token %}
        <input type="text" readonly="readonly" name="email" value='{{ email }}'>
        <input type="text" name="password" placeholder="password" required="required">
        <input type="text" name="token" placeholder="TOKEN sent to your email" required="required" pattern="[A-Z0-9-]{6}">
        <input type="submit" value="Change password">
    </form>
</body>
</html>