.product > img{
    width: 10%;
    height: 10%;
    object-fit: fill;
}

.product > a{
    display: block;
}

.unavailable_price{
    color: #b3b3b3;
    text-decoration-line: line-through;
}

.discounted_price{
    color: #ff0013;
}