.product_section{
    display: flex;
}

.preview_section{
    margin-left: 3%;
    flex: 1;
}

.main_section{
    flex: 50%;
    margin-left: 7%;
}

.unavailable_price{
    color: #b3b3b3;
    text-decoration-line: line-through;
}

.discounted_price{
    color: #ff0013;
}

.discount{
    color: orange;
}

#product_img{
    width: 100%;
}

#purchase_form > * {

}

#counter{
    width: 3ch;
}

.all_block > *{
    display: block;
}